/* header */
.header {
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /*background:rgba(255, 255, 255, 0.04);*/
    padding: 24px;
}

.header.open {
    background-color: red;
}


@media (max-width: 600px) {
    .header {
        width: auto;
        right: 0;
        bottom: auto;
        height: 48px;
        z-index: 1;
        display: flex;
        padding: 0 24px;
        align-items: center;
        justify-content: flex-end;
        transition: all .3s cubic-bezier(.4,.01,.165,.99);
    }
    .header.hide {
        top: -48px;
    }
    .header.bg {
        background: rgba(0, 0, 0, .72);
        backdrop-filter: blur(12px);
    }
  }