/* header */
.header {
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /*background:rgba(255, 255, 255, 0.04);*/
    padding: 24px;
    transition: all .3s cubic-bezier(.4,.01,.165,.99);
    z-index: 2;
}
.header .container {
    opacity: 0;
    pointer-events: none;
}
.header.open {
    background:rgba(0, 0, 0, 0.98);
    width: 100%;
}
.header-action {
    cursor: pointer;
}
    .header-action .line {
        transition: all .3s cubic-bezier(.4,.01,.165,.99);
    }
    .header-action.open .line-01 {
        transform-origin: 3px 10px;
        transform: rotate(45deg);
    }
    .header-action.open .line-02 {
        transform-origin: 8px 16px;
        transform: rotate(-45deg);
    }

.header.open .container {
    opacity: 1;
    pointer-events: all;
}


.nav-item {
    transform: translateY(-5px);
    opacity: 0;
    font: 48px/52px 'Canela-Regular', serif;
    margin-bottom: 32px;
    color: #fff;
    transition: all .4s cubic-bezier(.4,.01,.165,.99);
}
.nav-item::first-letter {
    text-transform: uppercase;
}
.nav-item a {
    color: #fff;
    text-decoration: none;
}
.nav-item a :hover{
    color: #fff;
    text-decoration: underline;
}

.open .nav-item {
    transform: translateY(0);
    opacity: 1;
}

.nav-item--1 {
    transition-delay: .3s;
}
.nav-item--2 {
    transition-delay: .4s;
}
.nav-item--3 {
    transition-delay: .4s;
}

.logo {
    position: absolute;
    left: 41px;
    bottom: 24px;
    font: 14px/16px 'Canela-Regular', serif;
    color: #fff;
    transform: rotate(-90deg);
    width: 400px;
    transform-origin: left;
}
.logo a {
    color: #fff;
    text-decoration: none;
}
.logo a:hover {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .header {
        width: auto;
        right: 0;
        bottom: auto;
        height: 64px;
        z-index: 1;
        display: flex;
        padding: 16px 24px;
        justify-content: flex-end;
        transition: all .3s cubic-bezier(.4,.01,.165,.99);
    }
    .header.hide {
        top: -64px;
    }
    .header.bg {
        background: rgba(0, 0, 0, .72);
    }
    .header.open {
        background:rgba(0, 0, 0, 0.98);
        width: 100%;
        height: 100%;
    }
    .header-action {
        cursor: pointer;
        position: absolute;
        top: 20px;
    }
    .logo {
        left: 24px;
        bottom: auto;
        top: 24px;
        transform: none;
        width: auto;
    }
  }