/* main */
.bg {
    background: #222;
}
    .bg.open {
        overflow: hidden;
    }

.footer .container {
    padding: 0 24px 64px 24px;
}
    .footer-text {
        font: 12px/14px 'Canela-Regular', serif;
        font-style: italic;
        color: rgba(255, 255, 255, .4);
        text-align: center;;
    }
