<!doctype html>
<html>
  {% include meta.html %}

  <body class="bg">

    {% include header.html %}


    <section class="container">
        {% for post in site.posts %}
          {% if post.position == 'full' %}
            <article class="post-thumbnail {{post.position}}">

              <div class="grid grid-inner">
                  <div id="map"></div>
                  <div class="grid-cell grid-cell--col12">
                    <div class="post-media">
                      <img src="{{ post.media }}" />
                    </div>
                  </div>

                  <div class="grid-cell grid-cell--col5  grid-cell--col12--mobile">
                    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <ul class="post-info">
                      <li class="post-infoItem">ISO {{ post.iso }}</li>
                      <li class="post-infoItem">f / {{ post.f }}</li>
                      <li class="post-infoItem">{{ post.f }} sec</li>
                    </ul>
                  </div>
                  <div class="grid-cell grid-cell--col7 grid-cell--col12--mobile">
                    <div class="post-description">{{ post.excerpt }}</div>
                  </div>
              </div>
            </article>
          {% elsif post.position == 'right' %}
            <article class="post-thumbnail {{post.position}}">
              <div class="grid grid-inner grid-inner--vend">
                <div id="map"></div>

                  <div class="grid-cell grid-cell--col7 grid-cell--col12--mobile order-1--mobile">
                    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <ul class="post-info">
                      <li class="post-infoItem">ISO {{ post.iso }}</li>
                      <li class="post-infoItem">f / {{ post.f }}</li>
                      <li class="post-infoItem">{{ post.f }} sec</li>
                    </ul>
                    <div class="post-description">{{ post.excerpt }}</div>
                  </div>
                  <div class="grid-cell grid-cell--col5 grid-cell--col12--mobile">
                    <div class="post-media">
                      <img src="{{ post.media }}" />
                    </div>
                  </div>
              </div>
            </article>
          {% elsif post.position == 'left' %}
            <article class="post-thumbnail {{post.position}}">
              <div class="grid grid-inner grid-inner--vend">
                <div id="map"></div>

                  <div class="grid-cell grid-cell--col5 grid-cell--col12--mobile">
                    <div class="post-media">
                      <img src="{{ post.media }}" />
                    </div>
                  </div>
                  <div class="grid-cell grid-cell--col7 grid-cell--col12--mobile">
                    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <ul class="post-info">
                      <li class="post-infoItem">ISO {{ post.iso }}</li>
                      <li class="post-infoItem">f / {{ post.f }}</li>
                      <li class="post-infoItem">{{ post.f }} sec</li>
                    </ul>
                    <div class="post-description">{{ post.excerpt }}</div>
                  </div>
              </div>
            </article>
          {% endif %}

          <script>
            // Add basemap and set properties
            const map = new mapboxgl.Map({
                container: 'map',
                style: carto.basemaps.darkmatter,
                center: [{{ post.lat }}, {{ post.long }}],
                zoom:  12
            });
            // GEOJSON
            // Create GeoJSON content
            const offices = {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "geometry": {
                            "type": "Point",
                            "coordinates": [{{ post.lat }}, {{ post.long }}]
                        }
                    }
                ]
            };
    
            // Define GeoJSON source
            const officesSource = new carto.source.GeoJSON(offices);
    
            // Define Viz object with custom style
            const officesViz = new carto.Viz(`
                color: #333
                width: 8
            `);
    
            // Define map Layer
            const officesLayer = new carto.Layer('offices', officesSource, officesViz);
    
            // Add map Layer
            officesLayer.addTo(map);
    
        </script>
  


        {% endfor %}
        </section>
      </section>






  </body>
</html>